* {
  padding: 0;
  margin: 0;
}

#top {
  height: 54px;
  border-bottom: 1px solid #dbdbdb;
}

.fontSize {
  font-size: 16px;
}

.searchShape {
  border: solid 1px #dbdbdb;
  border-radius: 3px;
  padding: 3px 10px 3px 26px;
}

#upper {
  height: 54px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#upper #logo {
  padding-right: 257px;
}

#search {
  flex: 0 1 auto;
  height: 28px;
  width: 215px;
  min-width: 125px;
  padding: 0;
}

#right {
  height: 22px;
  width: 360px;
}

#right_container {
  display: flex;
  width: 222px;
  height: 22px;
  padding-left: 138px;
  justify-content: space-between;
}

#upper #profile #picture {
  width: 22px;
  height: 22px;
  object-fit: cover;
  object-position: top;
  border-radius: 50%;
}

#big_picture {
  width: 150px;
  height: 150px;
  object-fit: cover;
  object-position: top;
  border-radius: 50%;
}

#main_info {
}
